VaporMC- Rules

1) Do not use excessive profanity.
    -Kick warning detailing the first rule.
    -If the insults and/or threats are persistent and/or severe enough and the player ignores this rule, they may be banned for intense harassment. We will not tolerate those people on VaporMC.
2) No hacked clients or hack related mods.
    -Ban with details on observed hacks or, if the player stated such, them admitting to utilizing hacks.
3) No exploits or loopholes through the rules.
    -Tempban 1d if a player does not report exploits or loopholes for their own purposes.
    -Ban if further exploitations or loopholes are used by said player without notifying staff.
4) Turn in or report any banned items any players may have. Banned items include anything that are not normally obtainable or spawned in by staff.
    -Ban if the player intentionally hides banned items or turns in a few to cover their tracks.
5) Do not advertise.
    -Ban.
6) Do not duplicate items or money. These are exploits.
    -Ban.
7) Do not DDOS, DOX or blackmail other players. If there is proof that you have done so or imply that you have or will, it is a ban.
    -Ban.
8) Do not ask for money, items, ranks, beg for repairs, donor rank transfers, or plot signatures from staff.
    -Kick.
    -If the player persists, mute for 10m then kick.
9) No using 3+ letters in caps. This includes loopholes such as L()()K and L00K.
    -Kick.
    -If the player persists, mute for 15m then kick.
    -If the player refuses to adhere to multiple mutes, permanently mute them.
10) Do not spam the chat. This includes mass messages and mass pay.
    -Kick.
    -If the player persists, mute for 15m then kick.
    -If the player refuses to adhere to multiple mutes, permanently mute them.
11) Do not block glitch. Block glitching is placing blocks to gain access to unreachable areas.
    -Kick for first offense.
    -Tempban 1h second offense. If second offense is directly after the first, it is a tempban of 1d.
    -Tempban 1d third offense.
    -Tempban 7d fourth offense. At this point there is no excuse that a player knows very well what they are doing.
12) Do not use alt accounts to avoid bans or mutes.
    -Ban
13) Do not safezone. Safezoning is heading into a safe area while in combat.
    -Tempban 2d.
14) Do not lie about a buycraft purchase or attempt to trick staff to receive free donor perks. This is known as fraud.
    -Ban
15) When using a nickname, you must start off with the beginning of your in-game name. This is to make it easier for players to TAB your name. This also prevents impersonation.
    -Excessive misuse of the /nick command will lead to your /nick command rights being revoked.
16) Griefing and scamming is allowed. It is your responsibility to avoid these people and not let them have access to your stuff. The only exception to this rule is that you may not directly scam staff (i.e. make a deal and break it) and they may not scam you either.
17) Report any bugs and players breaking the rules on the forums or by PMing/mailing staff. Do not scream in chat as this deters the rule breaker from continuing and being caught. You must have evidence to make a report on the forums.
18) Use common sense.
19) The VaporMC website is @ www.vaporprison.com
